body { 
	background-color: #dac6a3 ;
	}
h1 { color:7d7462;
     text-align:center;
}
h2 { color : #a2805d ; 
     font-size: 100% ; 
     text-align:center
}

p { color : #cc9966 ;
    font-size:75% ;
    text-align:center;
}
