body {
    background-color:#dac6a3;
    text-align:center;
}
    
    h1 {
  color:#a2805d;
  font:verdana;
  font-size:100%;
  text-align:center;
 }

    h2 {
  color:#925649;
  font:verdana;
  font-size:100%;
  text-align:center;
 }
